@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = ViewBag.title;

}
<link rel="stylesheet" href="~/css/search.css">

<section id="main-search" class="margin-top-mobile">
     <div class="container">
         <div class="contain">
              <div class="left-contain">
                <div class="left-contain-price-range">
                    <p class="left-contain-item-title">Khoảng Giá</p>
                    <form name="myForm" class="left-contain-item-box-content">
                        <input type="radio" name="all" value="0">
                        <label> Tất Cả</label><br>
                        <input type="radio" name="all" value="0-300000">
                        <label> Nhỏ hơn 300,000₫</label><br>
                        <input type="radio" name="all" value="300000-500000">
                        <label>Từ 300,000₫ - 500,000₫</label><br>
                        <input type="radio" name="all" value="500000-700000">
                        <label> Từ 500,000₫ - 700,000₫</label><br>
                        <input type="radio" name="all" value="700000-1000000">
                        <label> Từ 700,000₫ - 1,000,000₫</label><br>
                        <input type="radio" name="all" value="1000000-1500000">
                        <label> Từ 1,000,000₫ - 1,500,000₫</label><br>
                        <input type="radio" name="all" value="1500000">
                        <label> Lớn hơn 1,500,000₫</label><br>
                    </form>
                </div>
                <div class="left-contain-size">
                    <p class="left-contain-item-title">Kích Thước</p>
                    <div class="left-contain-item-box-content-size">
                        <div class="left-contain-item-box-content-size-item">
                            <input class="size-product" type="checkbox" name="size" value="S">
                            <label>S</label><br>
                        </div>
                        <div class="left-contain-item-box-content-size-item">
                            <input class="size-product" type="checkbox" name="size" value="M">
                            <label>M</label><br>
                        </div>
                        <div class="left-contain-item-box-content-size-item">
                            <input class="size-product" type="checkbox" name="size" value="L">
                            <label>L</label><br>
                        </div>
                        <div  class="left-contain-item-box-content-size-item">
                            <input class="size-product" type="checkbox" name="size" value="XL">
                            <label>XL</label><br>
                        </div>
                    </div>
                </div>
                <div class="left-contain-color">
                    <p class="left-contain-item-title">Màu Sắc</p>
                    <div class="left-contain-item-box-content-color">
                       
                        <div class="left-contain-item-box-content-color-item">
                            <input class="color-check" type="checkbox" name="color" value="s">
                            <p >Xanh</p><br>
                        </div>

                    </div>
                </div>
            </div>

             <div class="right-contain">
                 <div class="top-search-title">
                    <div class="wrapper-search-left">
                        <h2 class="text-search">
                            @ViewBag.title
                        </h2>
                        <span class="title-sum-product">120 sản phẩm</span>
                        
                    </div>

                    <div class="right-contain-sort">
                        <label for="cars">Sắp Xếp</label>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" >Last Name</a>

                        <select name="cars" id="cars">
                            <option value="0">Tùy chọn</option>
                            <option value="">
                                Sắp xếp từ A-Z
                            </option>
                            <option value="name_desc">Sắp xếp từ Z-A</option>
                            <option value="Price">Sắp xếp theo giá tăng dần</option>
                            <option value="price_desc">Sắp xếp theo giá giảm dần</option>
                        </select>
                    </div>
                </div>
                 <div class="list-tab-content">
                     @foreach (Product product in Model)
                     {                    
                         @await Html.PartialAsync("Components/ViewProduct/Index", product)
                     }

                 </div>
                  <div class="pagination">
                    <a href="#" id="per-page">&laquo;</a>
                    <div class="page-parrent">
                       
                        <a class="page active" href="#">1
                        </a>
                       
                        <a class="page" href="#">2
                        </a>

                      
                    </div>

                    <a href="#" id="next-page">&raquo;</a>
                </div>
             </div>
         </div>
     </div>
</section>
@section Scripts
{
    <script>
        var sortSelect = document.getElementById("cars");
        sortSelect.addEventListener("change",e => {

            window.location.replace(/+"?sortOrder="+sortSelect.value);

        });
    </script>
}