
<link rel="stylesheet" href="~/css/search.css">

<section id="main-search" class="margin-top-mobile">
     <div class="container">
         <<div class="contain">
              <div class="left-contain">
                <div class="left-contain-price-range">
                    <p class="left-contain-item-title">Khoảng Giá</p>
                    <form name="myForm" class="left-contain-item-box-content">
                        <input type="radio" name="all" value="0">
                        <label> Tất Cả</label><br>
                        <input type="radio" name="all" value="0-300000">
                        <label> Nhỏ hơn 300,000₫</label><br>
                        <input type="radio" name="all" value="300000-500000">
                        <label>Từ 300,000₫ - 500,000₫</label><br>
                        <input type="radio" name="all" value="500000-700000">
                        <label> Từ 500,000₫ - 700,000₫</label><br>
                        <input type="radio" name="all" value="700000-1000000">
                        <label> Từ 700,000₫ - 1,000,000₫</label><br>
                        <input type="radio" name="all" value="1000000-1500000">
                        <label> Từ 1,000,000₫ - 1,500,000₫</label><br>
                        <input type="radio" name="all" value="1500000">
                        <label> Lớn hơn 1,500,000₫</label><br>
                    </form>
                </div>
                <div class="left-contain-size">
                    <p class="left-contain-item-title">Kích Thước</p>
                    <div class="left-contain-item-box-content-size">
                        <div class="left-contain-item-box-content-size-item">
                            <input class="size-product" type="checkbox" name="size" value="S">
                            <label>S</label><br>
                        </div>
                        <div class="left-contain-item-box-content-size-item">
                            <input class="size-product" type="checkbox" name="size" value="M">
                            <label>M</label><br>
                        </div>
                        <div class="left-contain-item-box-content-size-item">
                            <input class="size-product" type="checkbox" name="size" value="L">
                            <label>L</label><br>
                        </div>
                        <div  class="left-contain-item-box-content-size-item">
                            <input class="size-product" type="checkbox" name="size" value="XL">
                            <label>XL</label><br>
                        </div>
                    </div>
                </div>
                <div class="left-contain-color">
                    <p class="left-contain-item-title">Màu Sắc</p>
                    <div class="left-contain-item-box-content-color">
                       
                        <div class="left-contain-item-box-content-color-item">
                            <input class="color-check" type="checkbox" name="color" value="s">
                            <p >Xanh</p><br>
                        </div>

                    </div>
                </div>
            </div>

             <div class="right-contain">
                 <div class="top-search-title">
                    <div class="wrapper-search-left">
                        <h2 class="text-search">AO
                        </h2>
                        <span class="title-sum-product">120 sản phẩm</span>
                    </div>

                    <div class="right-contain-sort">
                        <label for="cars">Sắp Xếp</label>
                        <select name="cars" id="cars">
                            <option value="0">Tùy chọn</option>
                            <option value="1">Sắp xếp từ A-Z</option>
                            <option value="2">Sắp xếp từ Z-A</option>
                            <option value="3">Sắp xếp theo giá tăng dần</option>
                            <option value="4">Sắp xếp theo giá giảm dần</option>
                        </select>
                    </div>
                </div>
                 <div class="list-tab-content">
                     @*// ---------------------------------*@
                     <div class="slide-collection  active">
                        <div class="collection-slide-div">
                            <a href="/">
                                <img class="collection-slide-image"
                                     src="./img/product/100_1.jpg" alt="">
                            </a>
                            <div class="btn-img">
                                <div class="btn-img-search" >
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="btn-img-buy">
                                    <a href="/">mua ngay</a>
                                </div>
                                <div class="btn-img-cart" >
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                          
                            <div class="colection-tag">
                                <div class="tag-saleoff">
                                    <span>10</span>
                                </div>
                                <img src="./img/img-sale.png" alt="" class="img-sale">
                            </div>
                           

                        </div>
                        <div class="list-image-hover">

                         
                            <img class="img-item-hov" src="./img/product/100_2.jpg" alt="">
                             <img class="img-item-hov" src="./img/product/100_3.jpg" alt="">
                              <img class="img-item-hov" src="./img/product/100_1.jpg" alt="">
                            
                        </div>
                        <div class="text-content-collection">
                            <h3 class="slide-collection-title">
                                SP1
                            </h3>
                            <div>
                                    <span class="slide-collection-price">

                                         300,000đ

                                    </span>
                               
                                <span class="current-price">
                                       400,000đ



                                    </span>
                               

                            </div>
                        </div>
                    </div>
                     @*//------------------------------------------------------*@
                      <div class="slide-collection active">
                        <div class="collection-slide-div">
                            <a href="/">
                                <img class="collection-slide-image"
                                     src="./img/product/101_3.jpg" alt="">
                            </a>
                            <div class="btn-img">
                                <div class="btn-img-search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="btn-img-buy">
                                    <a href="/">mua ngay</a>
                                </div>
                                <div class="btn-img-cart" >
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                            
                            <div class="colection-tag">
                                <div class="tag-saleoff">
                                    <span>30%</span>
                                </div>
                                <img src="./img/img-sale.png" alt="" class="img-sale">
                            </div>
                           

                        </div>
                        <div class="list-image-hover">

                           
                            <img class="img-item-hov" src="./img/product/101_3.jpg" alt="">
                            <img class="img-item-hov" src="./img/product/101_1.jpg" alt="">
                            <img class="img-item-hov" src="./img/product/101_2.jpg" alt="">
                           
                        </div>
                        <div class="text-content-collection">
                            <h3 class="slide-collection-title">
                                Avatart quan 
                            </h3>
                            <div>
                                     <span class="slide-collection-price">

                                         3000.000đ

                                    </span>
                              
                                <span class="current-price">
                                      4.56332đ


                                    </span>
                               

                            </div>
                        </div>
                    </div>
                      @*//------------------------------------------------------*@

                 </div>
                  <div class="pagination">
                    <a href="#" id="per-page">&laquo;</a>
                    <div class="page-parrent">
                       
                        <a class="page active" href="#">1
                        </a>
                       
                        <a class="page" href="#">2
                        </a>

                      
                    </div>

                    <a href="#" id="next-page">&raquo;</a>
                </div>
             </div>
         </div>
     </div>
</section>

<script src="~/script/search.js"></script>
