@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Product p = @Model;
}
<link rel="stylesheet" href="~/css/cart.css">
<section id="cart" class="margin-top-mobile">
    <div class="container">
        <div class="cart-holder">
            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="cart-name">
                                <div class="wrapper-checkbox">
                                    <label class="checkbox path">
                                        <input type="checkbox" id="check-all">
                                        <svg viewBox="0 0 21 21">
                                            <path
                                                d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                                            </path>
                                        </svg>
                                    </label>
                                </div>
                                <h2>Giỏ hàng</h2>
                            </div>
                            <ul class="cart-list">

                            </ul>
                            <div class="sub-total-1-holder">
                                <span class="sub-total-title-1">Tổng cộng</span>
                                <span class="cart-total-price-1">đ</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="body-left">
                        <div class="check-cart-total">
                            <h2 class="check-title">Tóm tắt đơn hàng</h2>
                            <div class="sub-total">
                                <span class="cart-total-title">Tổng cộng</span>
                                <span class="cart-total-price">195,000đ</span>
                            </div>
                            <a class="btn-cart btn-total-checkout">Đặt hàng</a>
                            <a href="<%=request.getContextPath()%>/home"  class="btn-cart btn-continue-shopping">Tiếp tục mua hàng</a>

                        </div>
                        <div class="bag-payment-options">
                            <h3 class="text-accept">Chúng tôi chấp nhận:</h3>
                            <img src="<%=request.getContextPath()%>/img/cart/list-img-pay.png" alt="">
                            <p>Sử dụng mã giảm giá ở bước tiếp theo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        Console.log(@p);

    </script>
}