<footer>
    <div id="home-about">
        <div class="inner">
            <div class="home-about-content">
                <div class="home-about-item">
                    <div class="home-about-icon">
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <h3>
                        Miễn phí giao hàng
                    </h3>
                    <span>Áp dụng với hóa đơn từ 800.000 đ</span>
                </div>
                <div class="home-about-item">
                    <div class="home-about-icon">
                        <i class="fa-solid fa-shirt"></i>
                    </div>
                    <h3>
                        30 ngày đổi sản phẩm
                    </h3>
                    <span>Áp dụng với sản phẩm nguyên giá</span>
                </div>
                <div class="home-about-item">
                    <div class="home-about-icon">
                        <i class="fa-solid fa-gift"></i>
                    </div>
                    <h3>
                        Ưu đãi hấp dẫn
                    </h3>
                    <span>Quyền lợi sinh nhật đặc biệt</span>
                </div>
                <div class="home-about-item">
                    <div class="home-about-icon">
                        <i class="fa-solid fa-phone-volume"></i>
                    </div>
                    <h3>
                        Hotline
                    </h3>
                    <span>Mua hàng Online: 0924.058.888</span>
                </div>
            </div>
        </div>
    </div>
    <div class="space-white">

    </div>
    <div class="footer-top">
        <img src="../img/icon/ft-logo.png">
    </div>
    <div class="footer-content">
        <div class="footer-content-item footer-content-item-contact">
            <p class="footer-content-item-title">CÔNG TY CỔ PHẦN HBD</p>
            <div class="footer-content-item-contact-item">
                <i class="fas fa-home"></i>
                <p> 47 Đường Đinh Điền, Phường Lam Sơn, Thành phố Hưng Yên, Tỉnh Hưng Yên</p>
            </div>
            <div class="footer-content-item-contact-item">
                <i class="fas fa-phone"></i>
                <p class="footer-content-item-focuse">1900 633 694</p><br>
            </div>
            <div class="footer-content-item-contact-item">
                <i class="fas fa-envelope"></i>
                <p class="footer-content-item-focuse">info@sevenam.vn</p><br>
            </div>
            <div class="footer-content-item-contact-item">
                <i class="fas fa-map-marker-alt"></i>
                <p class="footer-content-item-focuse">Hệ thống cửa hàng</p><br>
            </div>
            <div class="footer-content-item-contact-item">
                <i class="fab fa-facebook"></i>
                <p class="footer-content-item-focuse">facebook</p>
            </div>

        </div>
        <div class="footer-content-item">
            <a href="../html/term.html" class="footer-content-item-title">CHÍNH SÁCH</a>
            <a href="../html/term1.html" class="footer-content-item-focuse">Điều khoản sử dụng</a><br>
            <a href="../html/term2.html" class="footer-content-item-focuse">Hướng dẫn thanh toán</a><br>
            <a href="../html/term3.html" class="footer-content-item-focuse">Hướng dẫn mua hàng</a><br>
            <a href="../html/term4.html" class="footer-content-item-focuse">Chính sách vận chuyển</a><br>
            <a href="../html/term5.html" class="footer-content-item-focuse">Chính sách đổi trả</a><br>
            <a href="../html/term6.html" class="footer-content-item-focuse">Chính sách bán hàng và bảo hành</a><br>
            <a href="../html/term7.html" class="footer-content-item-focuse">Chính sách bảo vệ thông tin khách
                hàng</a><br>
            <a href="../html/term8.html" class="footer-content-item-focuse">Quyền lợi sinh nhật của khách hàng</a>
        </div>
        <div class="footer-content-item">
            <p class="footer-content-item-title">VỀ SEVEN.AM</p>
            <p class="footer-content-item-focuse">Giới thiệu</p><br>
            <p class="footer-content-item-focuse">Tin tức</p><br>
            <p class="footer-content-item-focuse">Tuyển dụng</p><br>
            <p class="footer-content-item-focuse">Liên hệ</p><br>
            <p class="footer-content-item-focuse">Hợp tác kinh doanh</p><br>
        </div>
        <div class="footer-content-item footer-content-item-rigeter">
            <p class="footer-content-item-title">ĐĂNG KÝ NHẬN TIN</p>
            <p>Hãy đăng ký nhận tin để nhận được những thông tin hữu ích và những chương trình khuyến mãi hấp dẫn của
                Seven.AM!</p>
            <div class="footer-content-item-input">
                <input id="footer-content-item-input-email" style="border: none;" type="text"
                       placeholder="Email quý khách">
                <i class="far fa-paper-plane"></i>
            </div>
            <div class="footer-content-item-image">
                <img src="../img/footer/imge-footer.jpg">
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>CÔNG TY CỔ PHẦN HBD - MST: 0901072722 - Ngày cấp: 03/02/2020 - Nơi cấp: Sở Kế hoạch và Đầu tư tỉnh Hưng Yên
        </p>
    </div>
</footer>