<div class="comment">
    <form action="" id="comment-dialog" method="post" enctype="multipart/form-data">
        <div class="comment-header">
            <h3 class="comment-header-title">Hộp Thoại Góp Ý</h3>
            <div class="comment-close"></div>
        </div>
        <div class="comment-body">
            <label for="comment-content">Vui lòng điền nhận xét của bạn :</label>
            <textarea name="comment-content" id="comment-content" cols="40" rows="6" ></textarea>
            <div class="comment-image">
                <label for="comment-image-input" class="btn btn-primary mt-3" id="label-comment-image">
                    <i class="material-icons fas fa-plus"></i>
                </label>
                <input  name="comment-image-input" class="d-none" id="comment-image-input" type="file" required accept="image/*" >
                <div id="comment-image-col" class="">
                </div>
            </div>
        </div>
        <div class="comment-footer">
            <h6 class="comment-footer-title">
                Nếu bạn có ý tưởng để cải thiện sản phẩm thì hãy cho chúng tôi biết nhé. Còn nếu cần trợ giúp để khắc phục vấn đề cụ thể, hãy truy cập <a href="<%=request.getContextPath()%>/term?index=1" style="color: rgb(0, 68, 255);">Trung tâm trợ giúp</a>.
            </h6>
            <div class="comment-footer-button">
                <div class="btn btn-light btn-cancel" style="margin-right: 10px;">Hủy</div>
                <div class="btn btn-primary btn-submit">GỬI</div>
            </div>
        </div>
    </form>
</div>

<header id="header" class="header-signin-sigup">
  <div id="header-first">
    <div class="container">
      <div class="header-top">
        <div class="header-search" id="input-group-header">
          <input
            id="searchtext"
            name="q"
            value=""
            maxlength="40"
            class="input-search"
            type="text"
            size="20"
            placeholder="Tìm kiếm ...."
            autocomplete="off"
          />
          <i class="fa-solid fa-magnifying-glass search-icon" onclick="redirectSearch(this)"></i>
          <div class="wrapper-search box-shadow" id="wrapper-search1"></div>
        </div>
        <div class="header-top-wrap-logo">
          <h1>
            <a asp-controller="Home"
              ><img
                src="./img/logo.png"
                alt="Thời trang công sở Seven.AM: Váy đầm, quần áo, vest nữ"
            /></a>
          </h1>
        </div>

        <div class="header-top-list">
          <!--Icon chuông-->
          <div>
            <a >
              <i class="fa-solid fa-cart-shopping icon-header"></i>
              Giỏ hàng(<span class="cart-count color-red">0</span>)
            </a>
          </div>

          <div class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
              <img class="img-xs rounded-circle" src="./img/avatar.png" alt="User" />
              <i class="fa-solid fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" id="drop-top">
              <a class="dropdown-item" href="./account">Tài khoản</a>
              <a class="dropdown-item" href="./cart">Giỏ hàng</a>
              <a class="dropdown-item text-danger" href="#">Đăng xuất</a>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-bar">
          <ul class="nav-list">

              @await Component.InvokeAsync("ViewMenu")
          </ul>
      </nav>
    </div>
  </div>

  <div id="header-scroll">
    <div class="container">
      <div class="header-top">
        <div class="header-top-wrap-logo">
          <h1>
            <a asp-controller="Home"
              ><img src="./img/logo.png" alt="Thời trang công sở Seven.AM: Váy đầm, quần áo, vest nữ"
            /></a>
          </h1>
        </div>
        <nav class="nav-bar">
            <ul class="nav-list">

                @await Component.InvokeAsync("ViewMenu")
            </ul>
        </nav>
        <div class="header-top-list nav-notify">
          <div id="search-scroll">
            <i class="fa-solid fa-magnifying-glass search-icon" id="toogle-search"></i>
            <div class="header-search" id="input-group-scroll">
              <input
                id="searchtext2"
                name="q"
                value=""
                maxlength="40"
                class="input-search"
                type="text"
                size="20"
                placeholder="Tìm kiếm ...."
                autocomplete="off"
              />
              <i class="fa-solid fa-magnifying-glass search-icon" onclick="redirectSearch(this)"></i>
              <div class="wrapper-search box-shadow" id="wrapper-search2"></div>
            </div>
          </div>
          <div>
            <a href="./cart">
              <i class="fa-solid fa-cart-shopping icon-header"></i>
              Giỏ hàng(<span class="cart-count color-red">0</span>)
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="header-mobile">
    <div class="container">
      <div class="header-top">
        <div id="btn-bar-header">
          <i class="fa-solid fa-bars-staggered icon-header icon-nav"></i>
        </div>
        <div class="header-top-wrap-logo">
          <h1>
            <a asp-controller="Home" 
              ><img
                src="./img/logo.png"
                alt="Thời trang công sở Seven.AM: Váy đầm, quần áo, vest nữ"
            /></a>
          </h1>
        </div>
        <nav class="nav-bar" id="nav-bar-active">
          <div id="icon-close">
            <i class="fa-solid fa-xmark icon-nav"></i>
          </div>
          <ul class="nav-list">
            <li class="nav-item">
              <div class="nav-item-warper">
                <a href="/Shopping/home" class="text-hover text-hover-underline-goes-right">
                  <span>Trang chủ</span>
                </a>
              </div>
            </li>
              @await Component.InvokeAsync("ViewMenu")
              <li class="nav-item">
              <div class="nav-item-warper">
                <a href="./account" class="text-hover text-hover-underline-goes-right">
                  <span>Tài khoản</span>
                </a>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-item-warper">
                <a href="./account" class="text-hover text-hover-underline-goes-right">
                  <span>Thông báo</span>
                </a>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-item-warper">
                <a href="#" class="text-hover text-hover-underline-goes-right">
                  <span>Đăng xuất</span>
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="header-top-list">
          <div>
            <a href="./cart" class="btn-cart">
              <i class="fa-solid fa-cart-shopping icon-header"></i>
              <span class="cart-count color-red">0</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<a href="#" class="scrollup show-scroll" id="scroll-up">
    <i class="fa-solid fa-arrow-up"></i>
</a>
@*---*@