
/* ============================search style==================================== */
.header-search {
    position: relative;
}

.wrapper-search {
    position: absolute;
    width: 100%;
    top: 78%;
    background-color: #fff;
    z-index: var(--z-fixed);
    padding: 10px 0px;
    border: solid 1px #e5e5e5;
    border-top: none;
    border-radius: 0 0 8px 8px;
}

.list-search {
    padding: 0 20px;
}

.wrapper-search .search-items {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-gap: 10px;
    flex-direction: row;
    align-content: center;
}
/* .list-search {
    display: flex;
    gap: 10px;
    flex-direction: column;
} */
.search-items {
    margin-top: 10px;
    padding-bottom: 10px;
}

    .search-items:not(:last-child) {
        border-bottom: 1px solid #eee;
    }
/* .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
} */
.wrapper-search .search-items img {
    height: 60px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.text-one-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sale-price {
    color: var(--text-color-red);
}

.search-item-right span {
    font-weight: var(--font-bold);
    font-size: 14px;
}

.wrapper-search .search_prod_title {
    display: flex;
    justify-content: space-between;
    padding: 2px 20px;
    background: #f1f1f1;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.wrapper-search {
    display: none;
}

    .wrapper-search.show {
        display: block;
    }
/* search scroll */
#input-group-scroll {
    position: absolute;
    right: 0;
    background-color: #fff;
}

.input-search {
    border-radius: 20px;
}

#search-scroll {
    position: relative;
}

#input-group-scroll {
    display: none;
}

    #input-group-scroll.show {
        display: flex;
    }

.search-item-right > a {
    padding: 4px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
